.capsule {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.capsule img{
    width:40%;
}

.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
